<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Введите кадастровый номер или координаты</h1>
    <form action="/query" method="post">
        <input name="number" value="" placeholder="кадастровый номер" required>
        <input name="latitudes" placeholder="широта" required>
        <input name="longitude" placeholder="долгота" required>
        <button>Отправить</button>
    </form>
</body>
</html>